* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(255,208,242);
  color:rgb(0, 0, 0);
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.6em;

}

.container{
width: 80%;
margin: auto;
overflow: hidden;
}

#main-header {
  background-color:rgb(0, 0, 0);
  color:aliceblue;
  padding:30px;

}
#main-header h1{
  margin:10px;
}

#navbar {
  background-color: #333;
  color: #fff;
  padding:5px;
}

#navbar ul {
  padding:0;
  list-style:none;
}

#navbar li {
  display:inline;
}

#navbar a {
  color:white;
  text-decoration: none;
  font-size:18px;
  padding-right: 15px;
  cursor:pointer;
}
#navbar a:hover {
  color:rgb(224, 224, 224);
}

#showcase {
  background-image:url('../images/header1.jpg');
  width: auto;
  background-position:center right;
  min-height:500px;
  margin-bottom:50px;
  text-align:left;
}

#showcase h1{
color:#333;
font-size:50px;
line-height: 1.6em;
padding-top: 30px;
margin-top: 370px;
}

#ivancolor1 {
  width: 50%;
  float:left;
  margin-right:25px;
  margin-left:0px;
  margin-bottom:10px;
  margin-top:0px;

}

.container, section, content {
  width: 80%;
  margin: auto;
  overflow: hidden;
  }

#menu {
  color: rgb(2, 2, 2);
  text-align: center;
  text-decoration:underline;
  margin:30px;
}

#lime-recept {
  color:rgb(40,28,14);
  margin:auto;
}

#table1 {
  color:rgb(127,53,26);
}

#Lime-pie-img {
  width: 80%;
  border-image-width: 5px;
  float:left;
  margin:0;
  border-style: solid;
  border-radius: 5px;
  border-color:rgba(255, 255, 255, 0.866);
}

#ingredients1name {
  color:rgb(0, 0, 0);
  background-color: rgb(252,201,182);
  font-style: italic;
  text-align: center;
  padding: 30px;
  margin: 0px;
  padding:0%;
}

.ingredient {
  background-color: rgb(182,116,84);
  line-height: 1,5em;
  width:auto;
  text-align:left;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 0px;
  text-decoration: none;
  list-style:none;
}

#ingredientslist {
  text-align: center;
}

#cookingname {
margin-bottom: 30px;
margin-top: 50px;
}

.list {
  color:black;
  width: 100%;
  padding: auto;
  margin-top: 0;

}



